export ENV="local"
export GO_PKG_ER_DEBUG="true"

export GOOGLE_CLIENT_ID=77551071430-u1678mudc91g8pruclr0aaqualjfds2a.apps.googleusercontent.com
export GOOGLE_CLIENT_SECRET=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